<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>create content</title>
<script>
	KindEditor.create('#editor_id',{
		uploadJson : '/media/uploadin',
		items : ['source', 'code','|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', '|',
		         'forecolor', 'bold', 'italic', 'underline', 'strikethrough',  '|',
		         'image', 'insertfile', 'link', 'unlink'],
		afterBlur: function(){
			this.sync();
		}
	});
</script>
<script type="text/javascript">
  $(function(){
    $('#imgFile').uploadify({
      fileObjName     : 'imgFile',
      buttonText : '媒体上传',
      fileTypeExts: '*.gif; *.jpg; *.png',
      swf      : '/js/uploadify/uploadify.swf',
      uploader : '/content/upload',
      // onUploadStart: function(){
      //   $("#imgFile").uploadify("settings", "formData", {'channelId' : $("#channelId option:selected").val(), 'mediaDesc' : $("#mediaDesc").val() });  
      // },
      onUploadSuccess : function(file,data,response){
          $("#picurl").val($.parseJSON(data).url);
      }
    });
  })
</script>
</head>
<body>
<div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>内容编辑</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1" class="default-tab"></a></li>
          <!-- href must be unique and match the id of target div -->
          <li><a href="#tab2"></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content" id="tab2">
          <form name="createcomment" id="createcomment" action="/content/update" method="post">

          <input type="hidden" name="contentId" id="contentId" value="{{.content.Id}}"/>
          <input type="hidden" name="createId" id="createId" value="{{.content.CreateId}}"/>
            <fieldset>
            <!-- 设置类”列左”或“右列”字段划分形成列 -->
            <p>
              <label>内容标题</label>
              <input class="text-input small-input" type="text" id="contentTitle" name="contentTitle" value="{{.content.ContentTitle }}" />
              <br />
              <!-- 
            <p>
              <label>介质形式输入</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="medium-input" />
              <span class="input-notification error png_bg">错误消息</span> </p>
               -->
             <p>
             <label>分类列表</label>
               <select name="dropdown" id="channelId">
                       {{$cid := .content.ContentChannelId}}
                       <option value="0">未分类</option>
               		     {{range $key,$val := .channels}}
                      <option value="{{$val.Id}}" {{ if eq $val.Id  $cid}} selected="selected" {{end}}>  {{$val.Id | getChannelNameById}}</option>
                      {{end}}
                      
               </select>
            </p>
            <p>
              <label>文章摘要</label>
              <textarea class="text-input textarea wysiwyg"  id="contentSummary" name="contentSummary" cols="79" rows="4">{{.content.ContentSummary}}</textarea>
            </p>
            <p>
                <label>文章配图</label>
               <input type="file" name="imgFile" id="imgFile" >
               <input type="hidden" name="picurl" id="picurl" value="{{.content.MediaPath}}"/>
             </p>
            <p>
              <label>文章内容</label>
              <textarea class="text-input textarea wysiwyg" id="editor_id" name="content" cols="79" rows="15">{{.content.ContentMain}}</textarea>
            </p>
            <p>
              <input class="button" type="button" value="提交" onclick="submitcontent()" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
        <!--相关标签开始-->
        <div class="row note-tags">
    <label class="field" for="author_tags_clone">标签:</label>
    <div class="tags-editor">
        {{range $key,$val := .contentTags}}
          <span class="tag"><i>{{$val.Tid | getTagNameById}}</i><a href="#">X</a></span>
        {{end}}
        <fieldset class="tags-writer">
            <label for="author_tags_clone42">添加标签，多个标签用空格分隔，帮助你的内容被发现</label>
            <input id="author_tags" name="author_tags" type="hidden" value="" />
            <input tabindex="3" id="author_tags_clone42" class="author_tags_clone" name="author_tags_clone" type="text" value="" />
        </fieldset>
    </div>
    <div class="tags-control"> <span class="tags-tip error-msg"></span> <a href="#" class="tags_more">展开全部<i class="triangle triangle-right"></i></a>
        <dl class="tags-folder">
            <dt>常用标签：</dt>
            <dd>
            <span>自行车</span>
            <span>自行车运动</span>
            <span>行业咨询</span>
            <span>行业新闻</span>
            <span>配件咨询</span>
            <span>赛事新闻</span> 
            </dd>
        </dl>
    </div>
     <script src="/js/create_note.js" type="text/javascript"></script>

        
         <!--相关标签结束-->
      </div>
      <!-- End .content-box-content -->
    </div>
</body>
<script type="text/javascript">
function submitcontent(){
	var contentId = $("#contentId").val();
	var contentTitle = $("#contentTitle").val();
  var createId = $("#createId").val();
  var contentSummary = $("#contentSummary").val();
	var editor_id = $("#editor_id").val();
	var channelId = $("#channelId option:selected").val();
  var picurl = $("#picurl").val();
  var tags = "";
  var size = $(".tag").size();
  $(".tag").each(function(i) {
      if(i ==0){
        tags =  $(this).find("i").html();
      }else{
         tags = tags +"," + $(this).find("i").html();
      }
     
  });

	$("#right").html("loading...");
	$("#right").load(
	"/content/update", //请求路径
	{
		"contentId" : contentId,
    "createId": createId,
		"contentTitle":contentTitle,
    "contentSummary":contentSummary,
		"contentMain":editor_id,
		"channelId": channelId,
    "tags":tags,
    "picurl":picurl
	}
	)
	;
}
</script>
</html>

